<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">

    <insert id="insert" parameterType="com.baizhi.entity.Banner">
        insert into cmfw_banner values(#{id},#{title},#{imgPath},#{descs},#{status},#{date})
    </insert>

    <select id="queryAll"  resultType="com.baizhi.entity.Banner">
        select * from cmfw_banner
    </select>

    <delete id="deleteById" parameterType="com.baizhi.entity.Banner">
        delete from cmfw_banner where id=#{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.Banner">
        update cmfw_banner set title=#{title},imgPath=#{imgPath},descs=#{descs},status=#{status},date=#{date}
        where id=#{id}
    </update>



    <!--分页：从第几页开始，每页展示条数-->
    <select id="queryPaging" resultType="com.baizhi.entity.Banner">
        select * from cmfw_banner limit #{start},#{rows}
    </select>
    <!--查询多少条数据-->
    <select id="queryTotals" resultType="long">
        select count(id) from cmfw_banner
    </select>
</mapper>