<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CounterDao">

    <insert id="insert" parameterType="com.baizhi.entity.Counter">
        insert into cmfw_counter values(#{id},#{title},#{count},#{recordDate},#{user_id},#{course_id})
    </insert>

    <select id="queryAll" resultType="com.baizhi.entity.Counter">
        select * from cmfw_counter
    </select>

    <delete id="deleteById" parameterType="com.baizhi.entity.Counter">
        delete from cmfw_counter where id=#{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.Counter">
        update cmfw_counter set title=#{title},count=#{count},recordDate=#{recordDate},user_id=#{user_id},course_id=#{course_id}
        where id=#{id}
    </update>
</mapper>